name: "Set Issue Label and Assignee"
on:
  pull_request:
    types:
      - labeled
      - opened
      - ready_for_review
      - reopened
      - synchronize
      - unlabeled
      - unlocked

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: Naturalclar/issue-action@f229cda
        with:
          title-or-body: "title"
          parameters: '[ {"keywords": ["yarn", "yarn-upgrade"], "labels": ["yarn-upgrade"], "assignees": ["pahud"]}]'
          github-token: "${{ secrets.GITHUB_TOKEN }}"
